.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.defaultcard {
    position: absolute;
    background: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    perspective: 1000px;
    /* Enable 3D perspective */

    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    background-color: #17141d;
    float: left;
    width: 10vw;
    height: calc(10vw * 1.5);
    max-width: 225px;
    max-height: 337.5px;
    right: calc(50vw - (10vw / 2));
    bottom: 20vh;
    box-shadow: -0.4rem 0.1rem 0.1rem #000;

    display: flex;
    position: absolute;
    border-radius: 10%;
    border-width: thin;
    border-style: inset;
    border-color: #17141d;
}

.ani.flippedcard {
    background-image: var(--profileName);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 80vw;
    height: 80vh;
    max-width: 100vw;
    max-height: 100vh;
    bottom: 10vh;
    right: 8vw;
    z-index: 1;
    border-radius: 5%;
    border-style: solid;
    border-width: thick;
    border-color: cornsilk;
}

.ani {
    position: absolute;
    right: calc(25vw + ((50vw / var(--numberOfCards)) * var(--index)));
    bottom: 30vh;
    box-shadow: -1rem 0.2rem 0.5rem #000;
}

.selectedcard {
    transform: translateY(-4em);
    transition: 0.4s ease-out;
}

.flipping {
    transform: translate(0, 20px) rotateY(90deg);
    -webkit-transform: translate(0, 20px) rotateY(90deg);
}

/* Responsive Design: Adjust card sizes for smaller screens */
@media (max-width: 768px) {
    .defaultcard {
        width: 20vw;
        height: calc(20vw * 1.5);
        right: calc(50vw - (20vw / 2));
    }

    .ani {
        right: calc(20vw + ((50vw / var(--numberOfCards)) * var(--index)));
    }

    .ani.flippedcard {
        width: 70vw;
        height: 80vh;
        max-width: 100vw;
        max-height: 100vh;
        right: 14vw;
        bottom: 20vh;
        z-index: 1;
    }
}

@media (max-width: 480px) {
    .defaultcard {
        width: 30%;
        height: calc(30vw * 1.5);
        right: calc(50vw - (30vw / 2));
    }

    .ani {
        right: calc(15vw + ((50vw / var(--numberOfCards)) * var(--index)));
    }

    .ani.flippedcard {
        width: 80vw;
        height: 65vh;
        max-width: 100vw;
        max-height: 100vh;
        right: 8vw;
        bottom: 20vh;
        z-index: 1;

        /*new*/
        --rX: 0;
        --rY: 0;
        --bX: 50%;
        --bY: 80%;

        border: 1px solid var(--background-color);
        border-radius: 1.6rem;
        transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));

        /* background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("https://images.unsplash.com/photo-1559113513-d5e09c78b9dd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9"); */
        background-position: var(--bX) var(--bY);
        

        /* transition: transform 0.6s 1s; */
    }
}

.wrap {
    /* transform-style: preserve-3d; */
    transform: perspective(100rem);

    cursor: pointer;
}

.container {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));

    /* background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("https://images.unsplash.com/photo-1559113513-d5e09c78b9dd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9"); */
    background-position: var(--bX) var(--bY);

    transition: transform 0.6s 1s;
}

.container::before,
.container::after {
    content: "";

    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;

    position: absolute;
    z-index: 2;

    opacity: 0.3;
    transition: 0.3s;
}

.container::before {
    top: 2rem;
    right: 2rem;

    border-bottom-width: 0;
    border-left-width: 0;
}

.container::after {
    bottom: 2rem;
    left: 2rem;

    border-top-width: 0;
    border-right-width: 0;
}

.container--active {
    transition: none;
}