body {
  background-color: #292733;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}