html {
  overflow: hidden;
}

body {
  background-color: #292733;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
