body {
  background-color: #292733;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.defaultcard {
  position: absolute;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  perspective: 1000px; /* Enable 3D perspective */

  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background-color: #17141d;
  float: left;
  width: 15em;
  height: 23em;
  right: 40%;
  bottom: 30%;
  box-shadow: -0.4rem 0.1rem 0.1rem #000;

  display: flex;
  position: absolute;
  margin: 30px 0 15px 15px;
  border-radius: 10%;
}

.defaultcard .card-front,
.defaultcard .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side when not flipped */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.defaultcard .card-front {
  background-color: #17141d;
}

.defaultcard .card-back {
  background-color: #292733;
  transform: rotateY(180deg); /* Initially hide the back side */
}

.defaultcard.flippedcard .card-front {
  transform: rotateY(180deg); /* Flip the front side */
}

.defaultcard.flippedcard .card-back {
  transform: rotateY(0); /* Show the back side */
}

.ani.flippedcard {
  background-image: var(--profileName);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 65%;
  width: 75%;
  bottom: 15%;
  right: 11%;
  z-index: 1;
  border-radius: 5%;
  border-style: solid;
  border-width: thick;
  border-color: cornsilk;
}

.card {
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  float: left;
  width: 15em;
  height: 23em;
  background-color: #17141d;

  display: flex;
  position: absolute;
  margin: 30px 0 15px 15px;
  border-radius: 10%;
}

.ani {
  position: absolute;
  right: var(--spacing);
  bottom: 40%;
  box-shadow: -1rem 0.2rem 0.5rem #000;
}

.selectedcard {
  transform: translateY(-4em);
  transition: 0.4s ease-out;
}

/* .ani:hover ~ .ani {
  position: absoulte;
  bottom: 45%;
  transition: 0.4s ease-out;
} */

/* For siblings before the hovered element */
/* .list:hover .ani {
  position: absolute;
  bottom: 50%;
  transition: 0.4s ease-out;
} */

/* Apply to siblings after */
/* .list:hover .ani:hover ~ .ani {
  bottom: 45%; 
} */

/* Apply to siblings before */
/* .list:hover .ani:not(:hover) {
  bottom: 45%; 
} */


/* @media (hover: none) {
  .ani:hover {
    pointer-events: none;
    transform: none;
  }
} */

.flipping {
  transform: translate(0, 20px) rotateY(90deg);
  -webkit-transform: translate(0, 20px) rotateY(90deg);
}