body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
  height: inherit;
}

.grid {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* top: 60px; */
  display: flex;
}

.list {
  /* height: 652px; */
  /* background-color: red; */
  /* position: relative; */
  list-style-type: none;
  /* padding-left: 0; */
}

.defcard {
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;

  float: left;
  width: 10em;
  height: 15em;
  background-color: #17141d;

  display: fl;
  position: absolute;
  right: 50%;
  bottom: 30%;
  margin: 30px 0 15px 15px;
  border-radius: 10%;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}