body {
  background-color: #292733;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.defaultcard {
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background-color: #17141d;
  float: left;
  width: 15em;
  height: 23em;
  right: 40%;
  bottom: 30%;
  box-shadow: -0.4rem 0.1rem 0.1rem #000;

  display: flex;
  position: absolute;
  margin: 30px 0 15px 15px;
  border-radius: 10%;
}

.ani.flippedcard {
  background-image: url("front.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  bottom:60%;
  right: 40%;
}

.card {
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  float: left;
  width: 15em;
  height: 23em;
  background-color: #17141d;

  display: flex;
  position: absolute;
  margin: 30px 0 15px 15px;
  border-radius: 10%;
}

.ani {
  position: absolute;
  bottom: 40%;
  box-shadow: -1rem 0.2rem 0.5rem #000;
}

.selectedcard {
  transform: translateY(-4em);
  transition: 0.4s ease-out;
}

/* .ani:hover ~ .ani {
  position: absoulte;
  bottom: 45%;
  transition: 0.4s ease-out;
} */

/* For siblings before the hovered element */
/* .list:hover .ani {
  position: absolute;
  bottom: 50%;
  transition: 0.4s ease-out;
} */

/* Apply to siblings after */
/* .list:hover .ani:hover ~ .ani {
  bottom: 45%; 
} */

/* Apply to siblings before */
/* .list:hover .ani:not(:hover) {
  bottom: 45%; 
} */


/* @media (hover: none) {
  .ani:hover {
    pointer-events: none;
    transform: none;
  }
} */

.flipping {
    transform: translate(0, 20px) rotateY(90deg);
    -webkit-transform: translate(0, 20px) rotateY(90deg);
}