body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.defcard {
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background-color: #17141d;
  right: 43%;
  bottom: 30%;
  box-shadow: -0.4rem 0.1rem 0.1rem #000;
}

.card {
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  float: left;
  width: 10em;
  height: 15em;
  background-color: #17141d;

  display: flex;
  position: absolute;
  bottom: 30%;
  margin: 30px 0 15px 15px;
  border-radius: 10%;
}

.ani {
  bottom: 50%;
  box-shadow: -1rem 0.2rem 0.5rem #000;
}

.ani:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}